<h3>Definition has been deleted!</h3>

<hr>

<div id="full_nav" class="container"  >
  <ul>
    <li><a href="/">Back to Home</a></li>
    <li><a href="/word/<%= @word.id() %>">Back to the word</a></li>
    <li><a href="/words">Back to all words</a></li>
  </ul>
</div>
