<h2>Your new word and definition have been added!</h2>

<hr>

<div id="partial_nav" class="container"  >
  <ul>
    <li><a href="/">Back to Home</a></li>
    <li><a href="/words">Back to all words</a></li>
  </ul>
</div>
