<h2>Your definition has been added!</h2>


<hr>

<div id="full_nav" class="container"  >
  <ul>
    <li><a href="/">Back to Home Page</a></li>
    <li><a href="/word/<%= @word.id() %>">Back to the word</a></li>
    <li><a href="/words">Back to all words</a></li>
  </ul>
</div>
