<h1> <%= @word.word() %></h1>

<h3>Definitions</h3>

  <% @word.definitions().each() do |definition| %>
    <li><%= definition.definition() %></li>
  <% end %>


<br>

<h5>Additional Options:</h5>
<ul>
  <li><a href="/words/<%= @word.id() %>/definitions/new">Add a New Definition</a></li>
  <li><a href="/words/<%= @word.id() %>/definitions/definition_removal">Remove a Definition</a></li>
</ul>

<hr>

<div id="partial_nav" class="container"  >
  <ul>
    <li><a href="/">Back to Home</a></li>
    <li><a href="/words">Back to all words</a></li>
  </ul>
</div>
